.about{
	border:2px solid;
	background-color:lightsalmon;
}

.info{
	display:flex;
}

#name{
	font-weight:bold;
	font-family:Times New Roman;
	font-size:13px;
	align-item:left;
}

#image{
	width:172px;
	height:172px;
	align-item:right;
}

#context{
	font-family:sans-serif;
	color:blue;
}

.table{
	border:3px solid;
	boder-color:black;
	background-color:light blue;
	padding:10px;
	border-spacing:5px;
}

.row1{
	text-decoraction:underline;
}

#academic{
	text-align:left;
}
#standard{ 
	text-align:center;
}
#school{
	text-align:left;
}

.course{
	dislpay:flex;
}

.semester2{
	border:3px solid black;
	backgroun-color:green;
}

.semester1{
	border:3px solid black;
	backgroun-color:light pink;
}

#code{
	font-weight:bold;
}

#instructor{
	font-style:italic;
}

.hobbies{
	background-color:beige;
	border:3px solid black;
	font-family:Arial;
}
